.bref{
    text-decoration: none !important;
}
.blank{
    
    
    height : 250px;
    display: flex;
    
    
}
.rah{
     width: fit-content;
     height : fit-content;
}
.btn_panier,.btn_connexion{
    height: 44px;
  }
  .dropdown_form{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .panier {
    position: relative;
    top: 0;
    left: 0;
    
  }
  .nb_panier {
    position: relative;
    top:-7px;
    left:-3px;
    font-weight: bolder;
    color :brown;
    
    
  }
  .productImg{
       
    width :100%;
    height : 220px;
    display : flex; 
    align-items: center;
  
    justify-content : center;
    overflow: hidden;
    padding : 0;
    
}
.selfImg{
  padding:0;
  margin : 0;
 
  width: fit-content;
  height : 100%;
  height : fit-content;
  
}
.commentaires{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.left{
  text-align:left;
}
.note{
  border: 1px solid orangered;
  background-color: yellow;
  color: purple;
  border-radius: 50%;
  padding: 5px;
}
.sumNote{
  height: 50px;
  width: 50px;
  padding: 15px;
  font-size: 15vh;
  background-color: orangered;
}
.flexCommentaire{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.commande{
  width:fit-content;
  padding:5px;
}
.prixCommande{
  color :blueviolet;
}
.codeCommande{
  color:blue;
}
.containCommandes{
  display: flex; 
  flex-wrap: wrap;
}
.adminPanel{
  display: flex;
  justify-content: center;
  align-content: center;
}
.buttonDiv{
  display: flex;
  justify-content:right ;
}
.displayLivre{
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding : 10px;
}
.couple{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
input,textarea,select{
  border: 1px solid black;
}
